@charset "UTF-8";
.seller-table .table-pic {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.seller-table .table-pic img {
  width: 100%;
}

.seller-table .cell {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dialog-wrap .tips {
  font-size: 16px;
  text-align: center;
}

.pagination-wrap {
  float: right;
}

.pro-sidebar {
  width: 200px;
  background: #2a3542;
  border-radius: 0;
  color: #fff;
}

.pro-sidebar .iconfont {
  margin-right: 10px;
}

.pro-sidebar .title {
  color: #fff;
}

.pro-sidebar .el-menu {
  background-color: #2a3542;
}

.pro-sidebar .el-submenu__title,
.pro-sidebar .el-menu-item {
  color: #FFF;
}

.pro-sidebar .el-submenu__title:hover,
.pro-sidebar .el-menu-item:hover {
  background-color: #35404d;
  color: #41cac0;
}

.pro-sidebar .el-menu-item {
  font-size: 12px;
}

.pro-sidebar .el-menu-item.is-active {
  color: #41cac0;
  background-color: #35404d;
}

.el-dropdown-menu {
  z-index: 99999;
}

.updata .el-input {
  display: none;
}

.requireHezi {
  position: relative;
}

.requireHezi .require {
  position: absolute;
  color: #ff4949;
}

/* 表格公共样式 */
.el-table {
  border: 0;
}

.el-table table.el-table__header thead tr {
  height: 44px;
  background: #f5f7fa;
  -webkit-box-shadow: 0 1px 0 0 #eeeeee;
  box-shadow: 0 1px 0 0 #eeeeee;
}

.el-table table.el-table__body tbody tr {
  height: 90px;
  background: #ffffff;
  -webkit-box-shadow: 0 1px 0 0 #eeeeee;
  box-shadow: 0 1px 0 0 #eeeeee;
}

label {
  font-weight: 400;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.block {
  padding: 30px 0;
}

.block .desc {
  color: #999;
}

.el-breadcrumb b {
  font-weight: 100;
  color: #999;
}

.el-breadcrumb .el-breadcrumb__separator {
  margin: 0 3px;
}

.logistics-block ul, .logistics-block li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.logistics-block .area-list .area-list-wrap {
  margin-bottom: 20px;
  overflow: hidden;
}

.logistics-block .area-list .area-item {
  float: left;
  padding: 0 5px;
}

.area-selection ul, .area-selection li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.area-selection .area-wrap li {
  float: left;
  margin-right: 20px;
}

.wid400 {
  width: 400px;
}

.wid280 {
  width: 280px;
}

/* 只读样式 */
.exhibition {
  padding-left: 10px;
  font-size: 14px;
  color: #333333;
}

input[type=file].el-upload__input {
  display: none;
}

.scorllbar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.scorllbar::-webkit-scrollbar-thumb {
  background: #41cac0;
  width: 6px;
  height: 50px;
}

/* 类目选择后的提示样式 */
.category-nav-breadcrumb {
  position: relative;
  border: 1px solid #41cac0;
  padding: 7px 20px;
  margin-top: 20px;
  position: relative;
  background: #F5F7FA;
}

.category-nav-breadcrumb .icon-arrow-top {
  position: absolute;
  left: 30px;
  top: -17px;
  border-width: 8px;
  border-style: solid;
}

.category-nav-breadcrumb .arrow-top-a {
  border-color: #fff #fff #F5F7FA #fff;
}

.category-nav-breadcrumb .arrow-top-b {
  left: -8px;
  top: -8px;
  border-color: #fff #fff #41cac0 #fff;
}

.category-nav-breadcrumb .breadcrumb-tips {
  color: #333;
  float: left;
}

/* 三级联动公共样式 */
div.address select {
  border-radius: 0;
  height: 36px;
  font-size: 14px;
  border-color: #bfd8d9 !important;
}

div.address select option {
  font-size: 14px;
}

div.address select:selected {
  border-color: red !important;
}

/* 商家入驻 */
.merchant-enter {
  position: relative;
  width: 960px;
  /* 公共样式 */
  /* 选择行业弹框 */
  /* 成功弹框样式 */
}

.merchant-enter p, .merchant-enter ul, .merchant-enter ol, .merchant-enter li, .merchant-enter h4 {
  margin: 0;
  padding: 0;
}

.merchant-enter ol, .merchant-enter ul {
  list-style: none;
}

.merchant-enter .wid400 {
  width: 400px !important;
}

.merchant-enter .wid280 {
  width: 280px !important;
}

.merchant-enter form {
  margin: 20px 0 0 40px;
}

.merchant-enter .search-hezi {
  position: relative;
}

.merchant-enter .search-hezi .search-ol {
  border: 1px solid #bfd8d9;
  position: absolute;
  top: 36px;
  width: 280px;
  background: #fff;
  z-index: 999;
  padding-left: 10px;
}

.merchant-enter .big-img {
  width: 480px;
  height: 360px;
  margin-bottom: 0;
  background: transparent;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.merchant-enter .big-img .el-dialog__body {
  width: 430px;
  height: 270px;
  text-align: center;
  line-height: 270px;
  padding: 0;
}

.merchant-enter .big-img .el-dialog__body img {
  width: 430px;
}

.merchant-enter .example {
  position: absolute;
  width: 200px;
  height: 100px;
  bottom: 0px;
  left: 195px;
}

.merchant-enter .example span {
  float: right;
  font-size: 14px;
  color: #666666;
  line-height: 40px;
  padding-right: 20px;
}

.merchant-enter .example div {
  cursor: pointer;
  float: right;
  width: 100px;
  height: 100px;
  overflow: hidden;
  line-height: 100px;
  text-align: center;
  background: #d7d7d7;
  text-align: center;
}

.merchant-enter .example div img {
  max-width: 100%;
  vertical-align: middle;
}

.merchant-enter .selector-btn {
  padding: 0;
  position: absolute;
  right: 20px;
  top: 40px;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  color: #41cac0;
}

.merchant-enter .category-bar {
  padding: 40px 0 20px 40px;
}

.merchant-enter .selIndustryBtn {
  background: #eeeeee;
  width: 118px;
}

.merchant-enter .myIndustry {
  width: 398px;
  border: 1px solid #eee;
  margin-top: 20px;
  font-size: 14px;
  color: #333333;
}

.merchant-enter .myIndustry h4 {
  background: #f5f7fa;
  width: 398px;
  height: 38px;
  line-height: 38px;
  padding-left: 20px;
  font-weight: normal;
}

.merchant-enter .myIndustry li {
  border-top: 1px solid #eee;
  padding: 0 20px;
}

.merchant-enter .myIndustry li b {
  font-weight: normal;
}

.merchant-enter .myIndustry li .el-button--text {
  float: right;
}

.merchant-enter .myIndustry li .el-button--text span {
  color: #ff0201;
}

.merchant-enter .myIndustry li .el-button--text span:hover {
  text-decoration: underline;
}

.merchant-enter .relevance-good {
  min-width: 680px !important;
}

.merchant-enter .relevance-good .el-dialog__header {
  background: #f5f7fa;
  -webkit-box-shadow: inset 0 -1px 0 0 #dddddd;
  box-shadow: inset 0 -1px 0 0 #dddddd;
  padding: 15px 20px;
}

.merchant-enter .relevance-good .el-col-8 {
  width: 50%;
}

.merchant-enter .relevance-good .category-nav {
  border-bottom: 0;
}

.merchant-enter .relevance-good .el-col:nth-of-type(2) .category-nav {
  border-left: 0;
}

.merchant-enter .relevance-good .category-nav-breadcrumb {
  margin: 0;
  border-color: #ddd;
}

.merchant-enter .relevance-good .category-nav-breadcrumb .arrow-top-a {
  display: none;
}

.merchant-enter .relevance-good .category-nav-breadcrumb .el-breadcrumb {
  height: 14px;
  line-height: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.merchant-enter .relevance-good .category-nav-breadcrumb .el-breadcrumb .breadcrumb-tips {
  color: #999;
}

.merchant-enter .relevance-good .category-nav-breadcrumb .el-breadcrumb span b {
  color: #333;
}

.merchant-enter .relevance-good .category-nav-breadcrumb .el-breadcrumb .el-breadcrumb__separator {
  color: #333;
}

.merchant-enter .suc {
  min-width: 490px;
}

.merchant-enter .suc .el-dialog__footer {
  padding-bottom: 50px;
}

.merchant-enter .suc .el-dialog__footer .dialog-footer {
  display: block;
  text-align: center;
}

.merchant-enter .suc .el-dialog__body {
  padding: 40px 20px;
}

.merchant-enter .suc .el-dialog__body .suc-string {
  width: 340px;
  height: 50px;
  margin: 0 auto;
}

.merchant-enter .suc .el-dialog__body .suc-string span {
  float: left;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 46px;
  margin-top: 3px;
  color: #41cac0;
  padding-right: 10px;
}

.merchant-enter .suc .el-dialog__body .suc-string div {
  float: left;
  width: 280px;
}

.merchant-enter .suc .el-dialog__body .suc-string div h2 {
  font-size: 18px;
  color: #333333;
  height: 25px;
  line-height: 25px;
  margin: 0;
}

.merchant-enter .suc .el-dialog__body .suc-string div p {
  font-size: 14px;
  color: #999999;
  height: 20px;
  line-height: 20px;
  padding-top: 5px;
}

.update-img .desc {
  color: #999;
  font-size: 12px;
}

.scorllbar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.scorllbar::-webkit-scrollbar-thumb {
  background: #41cac0;
  width: 6px;
  height: 50px;
}

/* 品牌管理列表页 */
.brand {
  margin: 30px 0 0 20px;
  /*公共样式*/
  /* 创建商品按钮 */
  /* 列表样式 */
}

.brand a {
  text-decoration: none;
}

.brand ul, .brand ol {
  list-style: none;
}

.brand h3, .brand p, .brand ul, .brand ol, .brand li {
  margin: 0;
}

.brand .tool-bar {
  background: none;
  padding: 0;
  margin: 0 0 20px 0;
}

.brand ul {
  width: 100%;
  overflow: hidden;
  padding: 0;
}

.brand ul li {
  float: left;
  width: 480px;
  height: 160px;
  margin-bottom: 30px;
  cursor: pointer;
}

.brand ul li .brandlogo {
  width: 158px;
  height: 158px;
  line-height: 158px;
  text-align: center;
  overflow: hidden;
  float: left;
  border: 1px solid #ccc;
}

.brand ul li .brandlogo img {
  max-width: 100%;
}

.brand ul li .brandlist {
  float: left;
  padding-left: 20px;
}

.brand ul li .brandlist h3 {
  font-size: 16px;
  color: #333333;
  height: 22px;
  line-height: 22px;
  margin-bottom: 10px;
}

.brand ul li .brandlist h3 b {
  float: left;
  height: 22px;
  line-height: 22px;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #333;
  font-weight: normal;
}

.brand ul li .brandlist h3 span {
  font-size: 14px;
  float: left;
  height: 22px;
  line-height: 22px;
  padding-left: 15px;
}

.brand ul li .brandlist p {
  font-size: 14px;
  color: #666666;
  height: 20px;
  line-height: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 260px;
}

.brand ul li .brandlist .btns {
  margin-top: 15px;
}

.brand ul li .brandlist .btns span {
  display: inline-block;
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin-right: 20px;
  color: #666666;
  font-size: 12px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.brand ul li .brandlist .btns .forbidden {
  background: #45cdb6;
  color: #fff !important;
  border: 1px solid #45cdb6 !important;
}
