@charset "UTF-8";
label {
  font-weight: 400;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.block {
  padding: 30px 0;
}

.block .desc {
  color: #999;
}

.wuliu ul, .wuliu li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wuliu .area li {
  margin-bottom: 20px;
  overflow: hidden;
}

.wuliu .area .area-item {
  float: left;
  padding: 0 5px;
}

.area-selection ul, .area-selection li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.area-selection .area-wrap li {
  float: left;
  margin-right: 20px;
}

.wid400 {
  width: 400px;
}

.wid280 {
  width: 280px;
}

/* 只读样式 */
.exhibition {
  padding-left: 10px;
  font-size: 14px;
  color: #333333;
}

input[type=file].el-upload__input {
  display: none;
}

.scorllbar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.scorllbar::-webkit-scrollbar-thumb {
  background: #41cac0;
  width: 6px;
  height: 50px;
}

/* 三级联动公共样式 */
div.address select {
  border-radius: 0;
  height: 36px;
  font-size: 14px;
  border-color: #bfd8d9 !important;
}

div.address select option {
  font-size: 14px;
}

div.address select:selected {
  border-color: red !important;
}

/* 商家入驻 */
.merchant-enter {
  position: relative;
  /* 公共样式 */
  /* 成功弹框样式 */
}

.merchant-enter p, .merchant-enter ul, .merchant-enter ol, .merchant-enter li, .merchant-enter h4 {
  margin: 0;
  padding: 0;
}

.merchant-enter ol, .merchant-enter ul {
  list-style: none;
}

.merchant-enter .big-img {
  width: 480px;
  height: 360px;
  margin-bottom: 0;
  background: transparent;
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}

.merchant-enter .big-img .el-dialog__body {
  width: 430px;
  height: 270px;
  text-align: center;
  line-height: 270px;
  padding: 0;
}

.merchant-enter .big-img .el-dialog__body img {
  width: 430px;
}

.merchant-enter .example {
  position: absolute;
  width: 200px;
  height: 100px;
  bottom: 0px;
  left: 195px;
}

.merchant-enter .example span {
  float: right;
  font-size: 14px;
  color: #666666;
  line-height: 40px;
  padding-right: 20px;
}

.merchant-enter .example div {
  cursor: pointer;
  float: right;
  width: 100px;
  height: 100px;
  overflow: hidden;
  line-height: 100px;
  text-align: center;
}

.merchant-enter .example div img {
  max-width: 100%;
}

.merchant-enter .selector-btn {
  padding: 0;
  position: absolute;
  right: 20px;
  top: 40px;
  height: 22px;
  line-height: 22px;
  font-size: 16px;
  color: #41cac0;
}

.merchant-enter .category-bar {
  padding: 40px 0 20px 40px;
}

.merchant-enter .selIndustryBtn {
  background: #eeeeee;
  width: 118px;
}

.merchant-enter .myIndustry {
  width: 398px;
  border: 1px solid #eee;
  margin-top: 20px;
  font-size: 14px;
  color: #333333;
}

.merchant-enter .myIndustry h4 {
  background: #f5f7fa;
  width: 398px;
  height: 38px;
  line-height: 38px;
  padding-left: 20px;
  font-weight: normal;
}

.merchant-enter .myIndustry li {
  border-top: 1px solid #eee;
  padding: 0 20px;
}

.merchant-enter .myIndustry li b {
  font-weight: normal;
}

.merchant-enter .myIndustry li .el-button--text {
  float: right;
}

.merchant-enter .myIndustry li .el-button--text span {
  color: #ff0201;
}

.merchant-enter .myIndustry li .el-button--text span:hover {
  text-decoration: underline;
}

.merchant-enter .el-dialog--tiny {
  min-width: 490px;
}

.merchant-enter .el-dialog--tiny .el-dialog__footer {
  padding-bottom: 50px;
}

.merchant-enter .el-dialog--tiny .el-dialog__footer .dialog-footer {
  display: block;
  text-align: center;
}

.merchant-enter .el-dialog--tiny .el-dialog__body {
  padding: 40px 20px;
}

.merchant-enter .el-dialog--tiny .el-dialog__body .suc {
  width: 340px;
  height: 50px;
  margin: 0 auto;
}

.merchant-enter .el-dialog--tiny .el-dialog__body .suc span {
  float: left;
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 46px;
  margin-top: 3px;
  color: #41cac0;
  padding-right: 10px;
}

.merchant-enter .el-dialog--tiny .el-dialog__body .suc div {
  float: left;
  width: 280px;
}

.merchant-enter .el-dialog--tiny .el-dialog__body .suc div h2 {
  font-size: 18px;
  color: #333333;
  height: 25px;
  line-height: 25px;
  margin: 0;
}

.merchant-enter .el-dialog--tiny .el-dialog__body .suc div p {
  font-size: 14px;
  color: #999999;
  height: 20px;
  line-height: 20px;
  padding-top: 5px;
}

.update-img .desc {
  color: #999;
  font-size: 12px;
}

.scorllbar::-webkit-scrollbar {
  width: 6px;
  background-color: #F5F5F5;
}

.scorllbar::-webkit-scrollbar-thumb {
  background: #41cac0;
  width: 6px;
  height: 50px;
}
