.el-table th > .cell {
  font-weight: 400;
}

.el-table .el-button--text:hover {
  text-decoration: underline;
}

.el-table tr:hover {
  -webkit-box-shadow: 0px 2px 1px 0px #eee;
  box-shadow: 0px 2px 1px 0px #eee;
}

.el-form-item__label {
  color: #666;
  font-weight: 400;
}

.pagination-wrap {
  float: right;
  padding: 30px 0 50px 0;
}

.el-table:after {
  width: 0;
}

.el-table, .el-table__body-wrapper {
  overflow: initial;
}
