.seller-table .table-pic {
  width: 60px;
  height: 60px;
  overflow: hidden;
}

.seller-table .table-pic img {
  width: 100%;
}

.seller-table .cell {
  padding-top: 20px;
  padding-bottom: 20px;
}

.dialog-wrap .tips {
  font-size: 16px;
  text-align: center;
}

.pagination-wrap {
  float: right;
}

.pro-sidebar {
  width: 200px;
  background: #2a3542;
  border-radius: 0;
  color: #fff;
  height: 100%;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
}

.pro-sidebar .iconfont {
  margin-right: 10px;
}

.pro-sidebar .title {
  color: #fff;
}

.pro-sidebar .el-menu {
  background-color: #2a3542;
}

.pro-sidebar .el-submenu__title,
.pro-sidebar .el-menu-item {
  color: #FFF;
}

.pro-sidebar .el-submenu__title:hover,
.pro-sidebar .el-menu-item:hover {
  background-color: #35404d;
  color: #41cac0;
}

.pro-sidebar .el-menu-item {
  font-size: 12px;
}

.pro-sidebar .el-menu-item.is-active {
  color: #41cac0;
  background-color: #35404d;
}

.el-dropdown-menu {
  z-index: 99999;
}
