.el-table th > .cell {
	font-weight: 400;
}
.el-table {
	.el-button--text {
		&:hover {
			text-decoration: underline;
		}
	}
	tr {
		&:hover {
			box-shadow: 0px 2px 1px 0px #eee;
		}
	}
}

.el-form-item__label {
	color: #666;
	font-weight: 400;
}

.pagination-wrap {
	float: right;
	padding: 30px 0 50px 0;
}

.el-table:after {
	width: 0;
}
.el-table, .el-table__body-wrapper {
	overflow: initial;
}
.el-checkbox__label {
	font-weight: 400
}

.el-message-box {
	border-radius: 0;
	.el-message-box__title {
		font-size: 12px;
		font-weight: 400;
	}
	.el-message-box__close {
		font-size: 12px;
	}
}
.el-scrollbar {
	.el-select-dropdown__item.hover, .el-select-dropdown__item:hover{
		background-color: #5CD3BF;
		color: #fff
	}	
	.el-select-dropdown__item.selected {
		background-color: #5CD3BF;
		color: #fff
	}
}
